.div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    min-width: fit-content;
    width: 780px;
}

@media only screen and (max-width: 790px) {
    .div {
        /* flex-direction: column; */
        width: 500px;
    }
}

@media only screen and (max-width: 700px) {
    .div {
        /* flex-direction: column; */
        flex-direction: column;
    }
}