.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn {
  border-radius: 5px;
  height: 2rem;
  width: 4rem;
  outline: none;
  border: none;
  box-shadow: 2px 2px 2px hsl(127, 45%, 23%);
}

.btn-primary {
  background-color: #61fb73;
}

button:hover {
  box-shadow: 5px 5px 5px hsl(127, 45%, 23%);
}

button:active {
  transform: scale(0.9);
}

.red {
  color: red;
}